html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heads {
  width: auto;
  display:  inline-block;
}

.header, .footer {
  flex-grow: 1;
}

.footer {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.slider {
  flex-grow: 8;
  margin-bottom: 30px;
}

.importantText {
  flex-grow: 1;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}

.network {
  flex-grow: 2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myControlClassName {
  padding: 1px 52px 1px 10px !important;
}